
:root {
    --link-color  : #628395;
    --hover-color : #FF1654;
    --body-color  : #1A1423;
    --bg-color    : #FFFFFF;
    --nav-bg-color: #F5F5F9;
    --box-color   : #CCCCCC;
}


/* - Overrides -------------------------------------- */

html {
    font-family: "Red Hat Display", sans-serif;
}

body {
    color: var(--body-color);
    background-color: var(--bg-color);
    padding: 10% 20% 0;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--hover-color);
}

h1 {
    margin-top: 50px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 5px;
}

img {
    max-width: 100%;
    margin-top: 2em;
    border-radius: 10px;
}


/* - General ---------------------------------------- */

.date {
    font-family: 'Anonymous Pro', monospace;
    font-size: 16px;
    line-height: 1.5;
}

.space {
    margin-bottom: 20%;
}

.new-tab:after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background-image: url(./media/new_tab.png);
    background-size: 100% 100%;
    margin: 0.2em 0.2em -0.1em;
}

.img-caption {
    font-size: 0.9em;
    color: #555;
    text-align: center;
    margin-top: 5px;
    line-height: 1.4;
}


/* - Container -------------------------------------- */

.container {
    display: flex;
    justify-content: space-between;
}

.left-section {
    width: 50%;
    padding-right: 20px;
}

.right-section {
    width: 50%;
    padding-left: 20px;
    text-align: center;
}


/*-- Buttons / Boxes --------------------------------*/

.link-boxes {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	list-style: none;
	padding: 0;
}

.link-box {
	border: 1px solid var(--link-color);
    border-radius: 25px;
	padding: 7px 20px;
	text-align: center;
}

.link-box:hover {
    border: 1px outset var(--hover-color);
}

button {
    background-color: var(--bg-color);
    color: var(--link-color);
    padding: 10px 20px;
    border: solid 1px var(--link-color);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--link-color);
    color: var(--bg-color);
}


/* - Navigation Bar --------------------------------- */

.navbar {
    background-color: var(--nav-bg-color);
    padding: 1em;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.navbar a {
    color: var(--body-color);
}

.navbar a:hover {
    color: var(--hover-color);
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

#nav-current {
    color: var(--link-color);
}


/* - Boxes ------------------------------------------ */

.box-a {
    color: var(--body-color);
}

.box-ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-li {
    width: 90%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--box-color);
    border-radius: 5px;
    padding: 15px;
    transition: box-shadow 0.3s;
}

.box-li:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* - Phone Screen ----------------------------------- */

@media (max-width: 850px) {
    .container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        padding: 0;
    }

    body {
        padding: 20% 10% 0;
    }
}

